<p><%= @email %> さん、こんにちは。</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>登録されているメールアドレスを <%= @resource.unconfirmed_email %> に変更する手続きが行われています。</p>
  <p>この変更をリクエストしていない場合は、このメールを無視してください。</p>
<% else %>
  <p>メールアドレスが <%= @resource.email %> に変更されました。</p>
  <p>この変更に心当たりがない場合は、速やかにサポートまでご連絡ください。</p>
<% end %>